nav {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 50px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

#logo{
    width: auto;
    height: 70px;
    margin-right: 400px;
}

#notification{
    margin-left: 150px;
    width: 40px;
    height: auto;
    cursor: pointer;
}

#hrefNoti {
    display: inline-block;
    width: 40px;
}

#profile{
    width: 40px;
    margin-left: 200px;
    height: auto;
    cursor: pointer;
}

#navUL{
    margin-right: 150px;
}

.dropdown-content {
    display: none;
    align-items: center;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    margin-left:  10.7%;
}

.dropdown-content.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}


.login-form {
    background-color: #f2f2f2;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 75%;
    height: 75vh;
    margin: 0 auto;
    font-size: larger;
    text-align: center;
}

.button-container {
    margin-top: 20px;
    width: auto;
    height: 100px;
    text-align: center;
}

.button-container button {
    padding: 5px 15px;
    font-size: 18px;
}

.login-form li{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
.login-form p{
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: larger;
}

#results{
    background: #00000038;
    padding-bottom: 450px;
    flex: 1;
}

#capture{
    padding-left: 10px;
}

#dashboard{
    display: flex;
}

#netResults{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}

#netResults li:nth-last-child(1){
    margin-right: 150px;
}

#toggleBtn {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin:0;
    padding:0;
    width: 200px;
}

#toggleBtn img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    display:none;
}

#toggleBtn .active {
    display: block;
}

#status {
    position: relative;
    display:flex;
    margin-top: 173px;
    padding-left:170px;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

#details{
    display: flex;
    margin-top:30px;
    justify-content: center;
}

#filters{
    display: flex;
    justify-content: flex-end;
}

#filters p{
    padding: 0px 30px;
}

#reports{
    padding-bottom: 1000px;
    background: #00000044;
}

#notifPanel{
    background: #00000069;
    padding-bottom: 500px;
}